/* Force dark mode as default */
:root {
  color-scheme: dark;
  --bg: #212121;
  --accent-bg: #2b2b2b;
  --text: #dcdcdc;
  --text-light: #ababab;
  --border: #898EA4;
  --accent: #ffb300;
  --code: #f06292;
  --preformatted: #ccc;
  --disabled: #111;
}

img,
video {
  opacity: 0.8;
}
